/**{
  border:1px solid red;
}*/
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  position: relative;
  min-height: 100vh;
  overflow-x: show;
  background-color: black;
}

/* Blurred background layer */
body::before {
  content: "";
  position: fixed; /* Keeps the background still during scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('bg.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  z-index: -1; /* Keeps it behind all content */
}
/* BUTTON ZMIANA SIGMA*/
#open-btn-img{
  width: 53px;
  height: 23px;
}
 
 #pipette-btn {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  background: url('img/pipette.png') center/contain no-repeat;
  border: none;
  cursor: pointer;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #25252a;
  color: white;
  padding: 5px 20px;
  border-bottom: 2px solid #1b1b1b;
  box-sizing: border-box;
  z-index: 1000;
  margin: 0;
}
 
.navbar.night-mode {
  background-color: #333;
  border-bottom: 2px solid #666;
  color: rgb(255, 255, 255);
}
 
.title {
  margin: 0;
  font-size: 20px;
}
 
.navbar-icons {
  display: flex;
  gap: 10px;
}
 
.icon-btn {
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background: none;
  transition: transform 0.1s, color 0.2s;
  
}
 
.icon-btn:hover {
  transform: scale(1.2);
}
 
#pipette-btn.active {
  color: #007bff;
  transform: scale(1.3);
}
 
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 70px; 
}
 
.controls {
  margin: 20px 0 10px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  padding:10px;
  color:white;
  background-color: rgba(0,0,0,0.4);
}  
img{
  width: 30px;
  height:30px;
  display: block;
}

.controls label.night-mode {
  color: white;
}
 
#basic-colors {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
 
.color-btn {
  width: 24px;
  height: 24px;
  border: 1px solid #333;
  cursor: pointer;
  border-radius: 4px;
}
 
.canvas-wrapper {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  background-color: #ffffff;
}
 
canvas {
  display: block;
  image-rendering: pixelated;
  border: 1px solid #000000;
}
 
#grid {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  
}

.brush-btn {
  font-size: 16px;
  padding: 4px 8px;
  border: 1px solid #333;
  background: #eee;
  cursor: pointer;
  border-radius: 4px;
}

.brush-btn:hover {
  background: #ddd;
}
